<!DOCTYPE html>
<html>

<head>
    {% block head %}
    {% include 'header.html' %}
    {% endblock %}
</head>

<body>
    {% include 'navbar.html' %}
    <div></div>
    <div class="features-boxed">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">О сервисе</h2>
                <p class="text-center">Дипломная работа Журавлева Владимира<br>ДЦисБ-4-3</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">Интересы на ладони</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">Реальные связи</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">24/7</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">HR</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">Точечный SMM</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box">
                        <h3 class="name">Доступные тарифы</h3>
                        <p class="description">Aenean tortor est, vulputate quis leo in, vehicula rhoncus lacus. Praesent aliquam in tellus eu.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="testimonials-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Отзывы</h2>
                <p class="text-center">Реальные отзывы реальных людей</p>
            </div>
            <div class="row people">
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">DJ Hush - Harlem Shake.mp3</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="{{ url_for('static', filename='img/tima.jpg') }}">
                        <h5 class="name">Тимофей</h5>
                        <p class="title">CEO of Company Inc.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Ааа поняла. ты делаешь штуку для сталкерства. Я бы не допустила такое к диплому.</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="{{ url_for('static', filename='img/vika.jpg') }}">
                        <h5 class="name">Виктория</h5>
                        <p class="title">Founder of Style Co.</p>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 item">
                    <div class="box">
                        <p class="description">Что за самодеятельность? я такого не писал, а ещё я не Дмитрий 🤔🤔🤔</p>
                    </div>
                    <div class="author"><img class="rounded-circle" src="{{ url_for('static', filename='img/dima.jpg') }}">
                        <h5 class="name">Дмитрий</h5>
                        <p class="title">Owner of Creative Ltd.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="highlight-blue">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Попробуйте!</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="buttons"><a class="btn btn-primary" role="button" href="register">Регистрация</a></div>
        </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>