<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>diploma</title>
    {% block styles %}
    <link rel="stylesheet" href="{{  url_for('static', filename = 'bootstrap/css/bootstrap.min.css')  }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="{{  url_for('static', filename = 'css/Features-Boxed.css')  }}">
    <link rel="stylesheet" href="{{  url_for('static', filename = 'css/header-1.css')  }}">
    <link rel="stylesheet" href="{{  url_for('static', filename = 'css/header-2.css')  }}">
    <link rel="stylesheet" href="{{  url_for('static', filename = 'css/header.css')  }}">
    <link rel="stylesheet" href="{{  url_for('static', filename = 'css/Highlight-Blue.css')  }}">
    <link rel="stylesheet" href="{{  url_for('static', filename = 'css/Navigation-Clean.css')  }}">
    <link rel="stylesheet" href="{{  url_for('static', filename = 'css/Newsletter-Subscription-Form.css')  }}">
    <link rel="stylesheet" href="{{  url_for('static', filename = 'css/Registration-Form-with-Photo.css')  }}">
    <link rel="stylesheet" href="{{  url_for('static', filename = 'css/styles.css')  }}">
    <link rel="stylesheet" href="{{  url_for('static', filename = 'css/Testimonials.css')  }}">
    {% endblock %}
</head>
</html>