<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'header.html' %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
</head>
<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-lg navigation-clean">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Навигация">
                    <span class="navbar-toggler-icon"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('index') }}">Zhuravlev Analytics</a>
            <div class="container">
              <div class="collapse navbar-collapse navbar navbar-light navigation-clean" id="navbarToggle">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('index') }}">Анализ профиля</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('about') }}">О cервисе</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('pricing') }}">Тарифы</a></li>
                        {% if current_user.is_authenticated %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('account') }}">Аккаунт</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('logout') }}">Выйти</a></li>
                        {% else %}
                        <li class="nav-item" role="presentation"><a class="nav-link" href="{{ url_for('login') }}">Войти</a></li>
                        {% endif %}
                    </ul>
              </div>
            </div>
        </nav>
        
    </div>
</body>
</html>