<html>
<script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/vis-network.min.js') }}"></script>
<style>

    .usergraph {
        height: 400px;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 4px;
    }
</style>

<script>

var nodes = {{ graph_data[1]|safe }};
var edges = {{ graph_data[0]|safe }};
var network = null;
// var graph_data = null;
console.log({{ graph_data[0][0]|safe }});
// Called when the Visualization API is loaded.
function draw() {
  // create people.
  // value corresponds with the age of the person
  //var flaskimage = JSON.parse($("#mydiv").data("flask_image"));

<!--  nodes = [-->
<!--    { id: 1, shape: "circularImage", image: "{{ userdict.photo_400 }}", label: "{{ userdict.first_name }} {{ userdict.last_name }}" },-->
<!--    { id: 2, shape: "circularImage", image: "{{ url_for('static', filename='img/2.jpg') }}" },-->
<!--    { id: 3, shape: "circularImage", image: "{{ url_for('static', filename='img/3.jpg') }}" }-->
<!--    ];-->

  // create connections between people
  // value corresponds with the amount of contact between two people
<!--  edges = [-->
<!--    { from: 1, to: 2 },-->
<!--    { from: 2, to: 3 },-->
<!--    { from: 1, to: 3 }-->
<!--  ];-->

  // create a network
  var container = document.getElementById("mynetwork");
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
    nodes: {
      borderWidth: 2,
      size: 20,
      color: {
        border: "#222222",
        background: "#666666"
      },
      font: { color: "#000000" }
    },
    edges: {
      color: "lightgray"
    },
    physics: {
        stabilization: {
            iterations: 10
        }
    }
  };
  network = new vis.Network(container, data, options);
}

window.addEventListener("load", () => {
  draw();
});
</script>
<div class="usergraph" id="mynetwork"></div>
<!--<div class="embed-responsive embed-responsive-16by9"><iframe class="embed-responsive-item" id="mynetwork"></iframe></div>-->
</html>