<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <div id="mydiv" flask_image="static/img/img1.jpg"></div>
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/vis-network.min.js') }}"></script>
<!--    <script type="text/javascript" src="{{ url_for('static', filename='js/friend_graph.js') }}"></script>-->
    <title>Friend graph test</title>
    <script>
      var flaskimage = {{ url_for('static', filename='img/1.jpg') }};
    </script>

</head>
<body>

<style>
    html, body {
        height: 100%;
        margin: 0px;
    }

    .container {
        height: 100%;
    }

</style>

<script>
var nodes = null;
var edges = null;
var network = null;

// Called when the Visualization API is loaded.
function draw() {
  // create people.
  // value corresponds with the age of the person
  //var flaskimage = JSON.parse($("#mydiv").data("flask_image"));
  nodes = [
    { id: 1, shape: "circularImage", image: "{{ url_for('static', filename='img/1.jpg') }}" },
    { id: 2, shape: "circularImage", image: "{{ url_for('static', filename='img/2.jpg') }}" },
    { id: 3, shape: "circularImage", image: "{{ url_for('static', filename='img/3.jpg') }}" }
    ];

  // create connections between people
  // value corresponds with the amount of contact between two people
  edges = [
    { from: 1, to: 2 },
    { from: 2, to: 3 },
    { from: 1, to: 3 }
  ];

  // create a network
  var container = document.getElementById("mynetwork");
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {
    nodes: {
      borderWidth: 2,
      size: 20,
      color: {
        border: "#222222",
        background: "#666666"
      },
      font: { color: "#eeeeee" }
    },
    edges: {
      color: "lightgray"
    }
  };
  network = new vis.Network(container, data, options);
}

window.addEventListener("load", () => {
  draw();
});
</script>
<div class="container" id="mynetwork"></div>
</body>
</html>