<!DOCTYPE html>
<html>

<head>
    {% block head %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>diploma</title>
    {% block styles %}
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="static/css/Features-Boxed.css">
    <link rel="stylesheet" href="static/css/header-1.css">
    <link rel="stylesheet" href="static/css/header-2.css">
    <link rel="stylesheet" href="static/css/header.css">
    <link rel="stylesheet" href="static/css/Highlight-Blue.css">
    <link rel="stylesheet" href="static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="static/css/Newsletter-Subscription-Form.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="static/css/Testimonials.css">
    {% endblock %}
    {% endblock %}
</head>

<body>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="#">Zhuravlev Analytics</a>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#">Анализ профиля</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="about">О cервисе</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="pricing">Тарифы</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div>
        <div class="container">
            <h1>Анализ профиля</h1>
            <p>Введите ссылку или id пользователя<br></p>
            <form method="POST" action="/send"><div class="form-group"> <input type="text" name="user_ids"><button class="btn btn-primary" type="sumbit" style="margin-left: 10px;margin-top: -5px;">Анализировать</button></form></div></div>
        <div class="container">
            <div class="row" style="margin-top: 10px;">
                <div class="col">
                    <h1>{{ userdict.first_name or "Имя" }} {{ userdict.last_name or "Фамилия" }}</h1><img src={{ userdict.photo_max or url_for('static', filename='img/deactivated_200.png') }} style="margin-bottom: 10px;"></div>
                    <div class="col" style="margin-top: 0px;">
                        {% for item in nicedata %}
                        <p>{{ item }}</p>
                        {% endfor %}
                    </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h1 style="margin-top: 10px;">Друзья</h1>
<!--                    <button class="btn btn-primary" type="button">Анализировать</button>-->
                    <div>
                        <h1 style="margin-top: 10px;">Граф</h1><div style="background-color: #ffffff;max-width: auto;min-width: 200px; min-height:400px;">
                        {% with graph_data=graph_data %}
                            {% include 'graph_embed.html' %}
                        {% endwith %}
                          </div>
                    <div>
                        <h1 style="margin-top: 10px;">Список друзей</h1>
                        <ul class="list-group" style="overflow: auto; max-height: 500px;">
                            {% for item in profile_friends['items'] %}
                            <li class="list-group-item"><img src="{{ item['photo_100'] }}" style="width: 80px;"><span>{{ item['first_name'] }} {{ item['last_name'] }}</span>
                                <form method="POST" action="/send"><input name=user_ids type="submit" class="btn btn-primary" type="sumbit"  value="{{ item['id'] }}" ></input></form>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                </div>
                <div class="row">
                <div class="col-md-6">
                    <h1 style="margin-top: 10px;">Интересы</h1>
<!--                    <button class="btn btn-primary" type="button">Анализировать</button>-->
                    <ul class="list-group" style="margin-top: 10px;">
                        {% for item in user_interests %}
                        <li class="list-group-item"><span>{{ item[0] }} - {{ item[1] }} групп(ы)</span></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>