<!DOCTYPE html>
{% extends "bootstrap/base.html" %}

{% block content %}

<html>

<head>
    <!-- Последняя компиляция и сжатый CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	{% block metas %}
	{{ super() }}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
	{% endblock %}
    <title>diploma</title>
	{% block styles %}
	{{ super() }}
    <link rel="stylesheet" href="static/assets/css/header-1.css">
    <link rel="stylesheet" href="static/assets/css/header-2.css">
    <link rel="stylesheet" href="static/assets/css/header.css">
    <link rel="stylesheet" href="static/assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="static/assets/css/styles.css">
	{% endblock %}

</head>

<body>
	<div>

        <nav class="navbar navbar-light navbar-expand-md navigation-clean">
            <div class="container"><a class="navbar-brand" href="#">Zhura Analytics</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse"
                    id="navcol-1">
                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#">First Item</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Second Item</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#">Third Item</a></li>
                        <li class="dropdown nav-item"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown </a>
                            <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
	</div>
    <div>
        <div class="container">
            <form method="POST" action="/send">
                <div class="form-group">
                    <input type="text" name="age">
                </div>
                <input class="btn btn-primary" type="submit" value="submit">
            </form>
        <div class="container">
            <div class="col-md-12"><img></div>
            <div class="row">
                <div class="col">
                    <h1>{{ first_name }} {{ last_name}}</h1>
                </div>
                <div class="col">
                    <p>Birthday = {{ bdate }}</p>
                    <p>Is profile closed = {{ is_closed }} </p>
                    <p>Views</p>
                    <p>Religion</p>
                </div>
            </div>
            <div class="row">

                <img src="{{ user_image }}" alt="User Image">
                <div class="col-md-6"></div>
                <div class="col-md-6"></div>
            </div>
        </div>
    </div>


</body>

</html>

{% endblock %}